BASE_SEPOLIA_RPC_URL=https://base-sepolia-rpc.publicnode.com
DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
BASESCAN_API_KEY=
EVENT_CREATION_FEE_WEI=200000000000000
PASS_METADATA_URI=ipfs://YOUR_CID/{id}.json
